{% extends "template.html" %}
{% block content %}
    <div class="login_account">
        <div class="success_message">{{ member }}{{ message }}</div>
    </div>
    <div class="login_account"><a href="/signout">登出系統</a></div>
    
    <hr class="hr">

    
        <div class="login_title">快來留言吧</div>
        <form id="comment_form" action="/createMessage" method="post">

            <div class="login_account">
                <div class="login_text">內容</div>
                <input type="text" class="login_input" name="comment" id="comment">
            </div>

            <div class="login_button">
                <button type="submit" id="submit_button">送出</button>
            </div>
        </form>   

        <hr class="hr">
        <div class="login_title">留言板</div>
        {% if comments %}
            {% for comment in comments %}
                <div class="login_account">
                    <div class="login_text" style="font-weight: bold;"> {{ comment[5] }}:</div>
                    <div class="login_text"> {{ comment[2] }}</div>

                    {% if comment[1] == member_id %}
                        <div>
                            <form action="/deleteMessage/{{ comment[0] }}" method="post">
                                <input type="hidden" name="id" value="{{ comment[0] }}">
                                <button type="submit" class="comment_button" style="margin: 0 10px;padding: 0 4px;"><i class="fa-solid fa-xmark"></i></button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        <script>
        document.getElementById("comment_form").addEventListener("submit", function(event){
            var comment = document.getElementById("comment").value.trim();
            if(!comment){
                alert("請輸入留言內容");
                event.preventDefault();
            }
            });
        </script>
{% endblock %}
 
